.app {
  position: relative;
  min-height: 100vh;
}

header {
  padding-top: 100px;
  padding-left: 137px;
  padding-right: 200px;
  display: flex;
}

header img {
  width: 70px;
  height: 71px;
}

header nav {
  margin-left: auto;
}

.navbar-menu {
  margin-top: 0;
  padding-top: 0;
  list-style: none;
  justify-content: flex-end;
  display: flex;
}

.navbar-menu li {
  padding: 0 50px;
  color: #38d39f;
  cursor: pointer;
  font-family: Poppins-Medium;
  font-size: 18pz;
}

.section-left {
  width: 50%;
  margin-top: 138px;
  padding-left: 137px;
}

.section-left h1 {
  font-family: Poppins-Bold;
  font-size: 48px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.section-left span {
  color: #38d39f;
}

.section-left p {
  font-family: Poppins-Regular;
  color: #a8a8a8;
  font-size: 30px;
}

.btm-dotted {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.bottom-section {
  z-index: 1;
  position: absolute;
  top: 300px;
  right: 0;
  left: 0;
}

.layered-images {
  position: relative;
  overflow: hidden;
}

.layer-one {
  z-index: 2;
  width: 50%;
  float: right;
  margin-right: -100px;
}

.layer-two {
  z-index: 3;
  width: 50%;
  float: right;
  margin-top: -20px;
  margin-right: -748px;
}
