.navbar {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
  margin-right: 100px;
}

li {
  color: #38d39f;
  margin: 30px ;
  cursor: pointer ;
  font-family: "Poppins";
}

span {
  color: #38d39f;
}

h1 {
  margin-top: 50px;
  margin-left: 50px;
  letter-spacing: 10px;
  font-family: "Poppins";
  line-height: 40px;
}

p {
  color: #a8a8a8;
  font-family: "Poppins";
}
