* {
  margin: 0;
  padding: 0;
}

body {
  height: 2000px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins-Black";
  src: local("FiraSans"),
    url(./fonts/poppins/Poppins-Black.otf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("FiraSans"),
    url(./fonts/poppins/Poppins-Medium.otf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("FiraSans"),
    url(./fonts/poppins/Poppins-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Poppins-Redular";
  src: local("FiraSans"),
    url(./fonts/poppins/Poppins-Regular.otf) format("truetype");
}
